.image {
    display: flex;
    width: 10%;

    .responsiveImage {
        height: auto;
        width: 100%;
    }
}

.resultCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5%;
    width: 100%;
    opacity: 0.9;
    padding: 1%;

    .fontAwesome
    {
        font-size: 150%;
        color: maroon;
        opacity: 0.5;
    }

    span {
        width: 2%;
    
    }

h1 {
    width: 10%;

}

p {
    width: 60%;
}

}