.image {
    display: flex;
    width: 10%;

    .responsiveImage {
        height: auto;
        width: 100%;
    }
}

.resultCard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5%;
    width: 100%;
    opacity: 0.9;
    padding: 1%;

    .fontAwesome
    {
        font-size: 150%;
        color: grey;
        opacity: 0.5;
    }
    .fontAwesomeFavorite
    {
        font-size: 150%;
        color: red;
        opacity: 0.5;
    }

    span {
        width: 5%;
    
    }

h1 {
    width: 5%;
    font-size: 75%;

}

 .ingredients{
    width: 15%;
    font-size: 60%;

 }

p {
    width: 40%;
    font-size: 70%;
}

}