.searchBar {

    display: flex;
    flex-direction: row ;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    border-radius: 50px;
    background-color: white;
    width: 95%;
    height: 50px;


    .searchIcon {
        padding: 1rem;
        opacity: 0.3;
    }
   input {
        flex: 1;
        padding: 0.5rem 0.5rem 0.5rem 0;
        margin: 4px;
        height: 100%;
        border:0;
        width: 80%;
    }

    .searchButton {

        width: 20%;
        height: 100%;
        background-color: rgb(36,34,88);
        margin: 3px;
        border-radius: 50px;
        color: white;
        text-align: center;
        border:0;

    }
}