.searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  border-radius: 50px;
  background-color: white;
  min-width: 100px;
  height: 50px;
}
.searchBar .searchIcon {
  padding: 1rem;
  opacity: 0.3;
}
.searchBar input {
  flex: 1;
  padding: 0.5rem 0.5rem 0.5rem 0;
  height: 60%;
  border: 0;
  width: 80%;
}
.searchBar input:focus {
  outline: none;
}
.searchBar .searchButton {
  width: 20%;
  height: 100%;
  background-color: #242258;
  margin: 3px;
  border-radius: 50px;
  color: white;
  text-align: center;
  border: 0;
}