
.innerDashboard{

  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color:rgb(251,237,245);
  border-radius: 30px;
  
    .LeftBar{
      width:20%;
      background-color:rgb(231,230,246);
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    .searchResults { 
      width: 60%;
      min-height: 60%;

      padding: 3%;
      border-radius: 30px;
      overflow-y: scroll;
      overflow-x: hidden;
    }

    .DrinkCard {

  
    }

    .Search{
      width:100%;
      padding: 2%;


    }

    .RightBar{
      width:20%;
      background-color: rgb(252,244,249);
      border-top-right-radius: 30px;
      border-bottom-right-radius: 30px;

    }

  }
  