

.appContainer
{
  display: flex;
  flex-direction: row;
  ;
}

.rightbar {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    font-size: 200%;
    color: white;
    background-color: blue;
    height: 100vw;
    width: 30%;
    opacity: 0.4;

    
    
}
