

.appContainer
{
  display: flex;
  flex-direction: row;
  ;
}

.sideBar {
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  left: 0;
  font-size: 200%;
  color: white;
  background-color: blue;
  height: 100vw;
  width: 25%;
  opacity: .5;

  a {
      text-decoration: none;
      color: white;

  }
  
  
}
.rightbar {
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    right: 0;
    font-size: 200%;
    color: white;
    background-color: blue;
    height: 100vw;
    width: 25%;
    opacity: 0.5;

    
    
}
.dash {
  display: flex;
  flex-direction: row;
}