@import "./sass/base_typography.scss";


.appContainer
{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  font-family: $font;
  background-color: rgb(251,236,245);
  z-index: 0;

  .outerDashboard{
    height: 90%;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 95%;
    border-radius: 30px;

  }

}
